* {
    padding: 0;
    margin: 0;
    border: 0;
}

:root{
    --main-size: min(1100px, 100vw);
    --left-size:  calc(var(--main-size)/2.7);
    --right-size: calc((var(--main-size)) - var(--left-size));
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

main  {
    height: 100vh;
    width: var(--main-size);
    background-color: rgb(112, 32, 32);
    display: flex;
} 

#left-side {
    height: 100%;
    flex-basis: var(--left-size);
    background-color: bisque;
}

#right-side {
    height: 100%;
    flex-basis: var(--right-size);
    background-color: blueviolet;
}